
body{
    background: rgb(255, 38, 18);
    font-family:Georgia, 'Times New Roman', Times, serif;
    display:table;
    gap:24px;
    grid-template-columns: repeat(4, 1fr); 
    margin: 0;
    display: grid;  
}
.headlogo{
    margin-top: 15px ;
    margin-left: 30px;
}
.header-title{
    grid-column: span 4;
    text-align: right;
    padding:25px;
    font-size: 60px;
    margin-top: -230px;
}

.images-dg{
    width: 20px;
    margin:24px auto;
}
.images-accueil{
    max-width: 300px;
   padding-right: 100px;
   background-color: #fff;
   grid-column: span 3;
}
.Signes{
    margin-left: 30px;
    max-width: 60%;
}
.texte-la-source{
    margin-bottom: 1500px;
}
.bandeau-archives{
    width: 4460%;
}
.description{
    margin-left: 30px;
}
.bandeau-livre-artiste{
    width: 4460%;
}
.qrcode{
grid-column: span 3;
grid-area:start;
}
.peinture{
    margin-bottom: 50px;
}